Django==5.2.18
django-cors-headers==4.9.0
django-filter==26.2
djangorestframework==3.18.3
djangorestframework_simplejwt==5.5.1
joblib==1.6.0
lightgbm==4.7.0
numpy==2.4.6
pandas==3.0.6
pytest==9.1.1
python-dotenv==1.2.4
scikit-learn==1.9.1
shap==0.51.0
